.menuicon
{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.nav-link
{
    display: inline-block !important;
}

.form-row div .color_picker {
    float:left;
}

.jumbotron:before {
    background: #609ab6;
}