{% extends 'base.html' %}

{% block body %}
<div class="container p-5">
    <h2>Search your car</h2>
    {{ error_message }}
    {{ form.error_message }}
    <form method="post" action="{% url 'borrow_car' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search"/>
    </form>
{% if non_search %}
    {% if cars.all %}
    <div class="row">
        {% for car in cars.all %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{ car.description.photo.url }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ car.model }} - {{ car.description.sub_model }}</h5>
                <p class="card-text">Color: {{ car.description.color }}</p>
                <p class="card-text">Station: asdf</p>
                <p class="card-text">Grade: {{ car.grade }}</p>
                <p class="card-text">Time: {{ car.start_date }} ~ {{ car.end_date }}</p>
                <a href="{% url 'borrow_car' %}/{{ car.id }}" class="btn btn-primary">Borrow now</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% else %}
    {% for searches in search_data %}
        {% for search in searches.all %}
    {% if search %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ search.description.photo.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ search.model }} - {{ search.description.sub_model }}</h5>
            <p class="card-text">Color: {{ search.description.color }}</p>
            <p class="card-text">Grade: {{ search.grade }}</p>
            <p class="card-text">Time: {{ search.start_date }} ~ {{ search.end_date }}</p>
            <a href="{% url 'borrow_car' %}/{{ search.id }}" class="btn btn-primary">Borrow now</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
{% endif %}
</div>
{% endblock %}